(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/home/usuario/Git/GitHub/Shield_XC7A200T/project/wave/wave.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "display_tb",
            ],
            id: Wellen((6)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_clk",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "s_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_input2",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "s_input2 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_input3",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "s_input3 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_led",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "s_led [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_rst",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "s_rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_seg",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "s_seg [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_en",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "s_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "display_tb",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "s_input1",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "s_input1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 8,
        viewports: [
            (
                curr_left: (-0.05403208051390946),
                curr_right: (0.44596781928941964),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: Auto,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.5),
)